/* Default DevCorner Style Setting */

:root{
  --dc-: #28a745;
  --gr-: #515151;
  --shadow-: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.fa-code{
  color: var(--dc-);
  -webkit-text-stroke: 1px #fff;
  /* color: white; */
}

/* .center{
  width: 50%;
  margin: 0 auto;
} */

/* .brand{
  margin: 0;
  padding: 0.5em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gr-);
  font-family: Roboto;
  z-index: 1;
  font-size: 3em;
} */

/* .slogan{
  margin: 0;
  padding: 0.5em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gr-);
  font-family: Roboto;
  font-size: 1.2em;
} */

body{
  font-family: Roboto;
  background: #282828;
  background: linear-gradient(-45deg, #134E5E, #71B280, #11998e, #38ef7d);
  background-size: 500% 500%;
  background-attachment: fixed;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}

h3{
  font-weight: lighter;
  font-size: 4em;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
}

p{
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 1.2em;
  margin: 0 auto;
}

.media{
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

li{
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
  font-size: 20px;
  padding: 15px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20%;
  transition: 0.5s;
}

li > .fa-2x{
  font-size: 1em;
}

li:nth-child(1):hover{
  color: #007ab9;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
  background: #fff;
}
li:nth-child(2):hover{
  color: #517fa6;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
  background: #fff;
}
li:nth-child(3):hover{
  color: #598dca;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
  background: #fff;
}
li:nth-child(4):hover{
  color: #e84c88;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
  background: #fff;
}
li:nth-child(5):hover{
  color: #ff3724;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
  background: #fff;
}
















/* End */
